
{
    "cluster_name": "{{ cluster_name }}",
    "spark_version": "14.0.x-scala2.12",
    "spark_conf": {
        "spark.databricks.service.port": "8787",
        "spark.databricks.service.server.enabled": "true",
        "spark.master": "local[*, 4]",
        "spark.databricks.cluster.profile": "singleNode"
    },
    "aws_attributes": {
        "first_on_demand": 1,
        "availability": "SPOT_WITH_FALLBACK",
        "zone_id": "auto",
        "instance_profile_arn": "{{ instance_profile_arn }}",
        "spot_bid_price_percent": 100
    },
    "node_type_id": "{{ node_type_id }}",
    "driver_node_type_id": "{{ driver_node_type_id }}",
    "custom_tags": {
        "ResourceClass": "SingleNode"
    },
    "spark_env_vars": {
        "PYSPARK_PYTHON": "/databricks/python3/bin/python3",
        "DATABRICKS_ENVIRONMENT": "{{ DATABRICKS_ENVIRONMENT }}",
        "AWS_DEFAULT_REGION": "{{ AWS_DEFAULT_REGION }}"
    },
    "autotermination_minutes": 15,
    "enable_elastic_disk": true,
    "enable_local_disk_encryption": false,
    "data_security_mode": "NONE",
    "runtime_engine": "STANDARD",
    "num_workers": 0
}
